# dependencies
/elden-tracker/node_modules
/elden-tracker/.pnp
/elden-tracker/.pnp.js

# testing
/elden-tracker/coverage

# next.js
/elden-tracker/.next/
/elden-tracker/out/

# production
/elden-tracker/build

# misc
/elden-tracker/.DS_Store
/elden-tracker/*.pem

# debug
/elden-tracker/npm-debug.log*
/elden-tracker/yarn-debug.log*
/elden-tracker/yarn-error.log*

# local env files
/elden-tracker/.env*.local
/elden-tracker/.env

# vercel
/elden-tracker/.vercel

# typescript
/elden-tracker/*.tsbuildinfo
/elden-tracker/next-env.d.ts
